@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 15px;
  background-color: hsl(233, 47%, 7%);
  color: #fff;
}

.theme {
  color: hsl(277, 64%, 61%);
}

.container {
  width: 1000px;
  margin: 200px auto;
  background-color: hsl(244, 38%, 16%);
  border-radius: 5px;

  display: flex;
}

.content {
  padding: 56px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content h1 {
  font-size: 28px;
  margin-bottom: 28px;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 1.6;
  color: hsla(0, 0%, 100%, 0.75);
}

.content-text {
  margin-bottom: 80px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.stats-text {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  color: hsla(0, 0%, 100%, 0.6);
}

.stats-num {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.main-img {
  width: 100%;
  background: linear-gradient(
      hsla(277, 72%, 48%, 0.4),
      hsla(277, 72%, 48%, 0.4)
    ),
    url(./images/image-header-desktop.jpg);
  background-size: cover;
}
