/* 
Style Guide

Layout
The designs were created to the following widths:
    Mobile: 375px
    Desktop: 1440px
Colors
    Primary
        Pale blue: hsl(225, 100%, 94%)
        Bright blue: hsl(245, 75%, 52%)
    Neutral
        Very pale blue: hsl(225, 100%, 98%)
        Desaturated blue: hsl(224, 23%, 55%)
        Dark blue: hsl(223, 47%, 23%)
Typography
    Body Copy
        Font size (paragraph): 16px
    Font Family: Red Hat Display
        Weights: 500, 700, 900
*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  line-height: 1;
  min-height: 100vh;
  background-color: hsl(225, 100%, 94%);
  color: rgb(114, 128, 167);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hero-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.order-content {
  padding: 40px;
}

.order-content h1 {
  font-size: 24px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 24px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

a:link,
a:visited {
  font-size: 16px;
}

a:hover,
a:active {
  text-decoration: none;
  box-shadow: 0 12px 24px rgba(114, 128, 167, 0.1);
}

.payment {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 12px 24px;
  margin-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.payment-content-left {
  display: flex;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 12px;
}

.plan h2 {
  font-size: 16px;
  color: hsl(223, 47%, 23%);
}

.plan p {
  margin-bottom: 0;
  font-size: 14px;
}

.btn {
  display: block;
  background-color: hsl(245, 75%, 52%);
  color: #fff;
  padding: 10px 80px;
  font-size: 14px;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  border: none;

  width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.btn:hover {
  background-color: hsl(245, 69%, 69%);
  box-shadow: 0 12px 24px rgba(114, 128, 167, 0.1);
}

.cancel {
  font-size: 14px;
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}
